<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AlyServerAddress" value="127.0.0.1" />
    <add key="AlyServerQueryPort" value="8888"/>
    <add key="SelfPubZmqParams" value="-p 6680 -r 6681 -i 127.0.0.1"/>
   
  </appSettings>
</configuration>