<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="AlyServerAddress" value="127.0.0.1" />
    <add key="AlyServerQueryPort" value="8888"/>
  </appSettings>
</configuration>